@bgColor: #E7E7E7;
@textColor: #262626;
@containerColor: #F7F7F7;
@boxWidth: 32em;
@containerWidth: @boxWidth + 16em;
@quadWidth: @boxWidth / 2;
@hoveredWidth: @quadWidth + 5em;
@descFontSize: 2em;
@boxShadowColor: #666;

html {
	height: 100%;
	background-color: @bgColor;
}

html, body {
	margin:0;
	padding:0;
}

.container {
	min-width: @containerWidth;
	width: 66%;
	margin: 0 auto;
	overflow: visible;
	height: @containerWidth;
	//padding-top: 5em; /* This padding prevents the top of the quad box from getting chopped */

	h1 {
		padding-left: 0.2em;
		color: @textColor;
		margin-bottom: 0.34em;
	}
}

.quadWrapper {
	width: @boxWidth + 0.5em;
	height: @boxWidth + 0.5em;
	margin: 0 auto;
	background-color: @containerColor;
	position: relative;
	box-shadow: 4px 4px 10px @boxShadowColor;

	hr {
		position: absolute;
		width: 45%;
		margin: -1px 2.5% 0 2.5%;
		top: 50%;
	}

	.vr {
		position: absolute;
		height: 45%;
		width: 1px;
		left: 50%;
		margin: 2.5% -1px 2.5% 0;
		background-color: #474747;
		box-shadow: 1px 0 0 0 #CCCCCC;
	}

	.sep1 {
		top: 0;
	}

	.sep2 {
		left: 50%;
	}

	.sep3 {
		top: 50%;
	}

	.sep4 {
		left: 0;
	}

	.quad {
		position: absolute;
		display: inline-block;
		cursor: pointer;
		padding: 0;
		margin: 0;
		width:@quadWidth;
		height:@quadWidth;
		background-color: @containerColor;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: box-shadow;
		transition-property: box-shadow;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);

		.desc {
			display: block;
			width: 100%;
			line-height: @quadWidth / @descFontSize;
			text-align: center;
			vertical-align: middle;
			font-family: 'Playfair Display', serif;
			font-weight: 400;
			font-style: italic;
			font-size: @descFontSize;
		}
	}

	.selected {
		z-index: 1;
	}

	.q1 {
		top: 0;
		left: 0;

		&:hover, &:focus, &:active {
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		}
	}

	.q2 {
		top: 0;
		right: 0;
		
		&:hover, &:focus, &:active {
			box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
		}
	}

	.q3 {
		bottom: 0;
		right: 0;
		
		&:hover, &:focus, &:active {
			box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.3);
		}
	}

	.q4 {
		bottom: 0;
		left: 0;
		
		&:hover, &:focus, &:active {
			box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
		}
	}
}